<h1>Shelters</h1>

<% @shelters.each do |shelter| %>
<section class='col-sm' id="<%= shelter.id %>-section">
  <h3><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}", class: 'shelter-link' %>
  <%= link_to 'Edit', "/shelters/#{shelter.id}/edit", class: 'btn btn-outline-info btn-sm' %>
  <%= link_to 'Delete', "/shelters/#{shelter.id}", method: :delete, class: 'btn btn-outline-info btn-sm' %>
</h3></section>
<% end %>

<a href='shelters/new' class='btn btn-info' role='button'>Create New</a>
