<h1>Shelters</h1>

<% @shelters.each do |shelter| %>
  <h3><%= shelter.name %><a href='shelters/<%= shelter.id %>/edit' class='btn btn-info' role='button'>Edit</a></h3>
<% end %>

<a href='shelters/new' class='btn btn-info' role='button'>Create New</a>
