

img {
   height: 100px;
   width: 500px;
   max-height: 300px;
   margin: 15px 0px 15px 0px;
  }

  .shelter-link {
    color: black;
  }

  nav {
    margin-bottom: 10px;
  }

  p {
    margin: 0;
    padding-left: 10px;
    font-size: 18px;
  }

  .pet p {
    padding-left: 0px;
  }

  .form {
    font-size: 17px;
    font-weight: bold;
    margin-left: 10px;
    padding-bottom: 10px;
  }

  /* button {
    margin-left: 0px;
  } */

  h1 {
    padding: 10px 0 10px 0;
  }
